from __future__ import unicode_literals
import multiprocessing

bin = "unix:{{ proj_path }}/gunicorn.sock"
workers = multiprocessing.cpu_count() * 2 + 1
errorlog = "/home/{{ user }}/logs/{{ proj_name }}_error.log"
loglevel = "error"
proc_name = "{{ proj_name }}"
