<html>	
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>nginx, configuration by ansible</h1>
  <p> if you can see this, ansible successfully installed nginx.</p>
 
 <p>{{ ansible_managed }}</p>
 </body>
</html>
