from __future__ import unicode_literals

SECRET_KEY = "{{ secret_key }}"
NEVERCACHE_KEY = "{{ nevercache_key }}"
ALLOWED_HOSTS = [{% for domain in domains %}"{{ domain }}",{% endfor %}]

DATABASES = {
    "defaults" : {
        "ENGINE" : "django.db.backends.postgresql_psycopg2",
        "NAME" : "{{ proj_name }}",
        "USER" : "{{ proj_name }}",
        "PASSWORD" : "{{ db_pass }}",
        "HOST" : "127.0.0.1",
        "PORT" : "",
        }
}

SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PORTOCOL", "https")

CACHE_MIDDLEWARE_SECONDS = 60

CACHE_MIDDLEWARE_KEY_PREFIX = "{{ proj_name }}"

CACHE = {
    "defaults" : {
        "BACKEND" : "django.core.cache.backends.memcache.MemcachedCache",
        "LOCATION" : "127.0.0.1:11211",
        }
}

